/* CSS reset */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #4a4a4a;
}

/* Font faces */

@font-face {
    font-family: "Avenir_Regular";
    src: url("../fonts/AvenirNextLTPro-Regular.otf")
}

@font-face {
    font-family: "Avenir_Medium";
    src: url("../fonts/AvenirNextLTPro-Medium.otf")
}

@font-face {
    font-family: "Avenir_Demi";
    src: url("../fonts/AvenirNextLTPro-Demi.otf")
}

@font-face {
    font-family: "Avenir_Bold";
    src: url("../fonts/AvenirNextLTPro-Bold.otf")
}

/* Utility classes */

.u_bold { font-weight: bold;}
.u_blightgrey { background-color: #d8d8d8; }
.u_grey { color: #9b9b9b; }
.u_center { text-align: center; }
.u_icon { height: 2rem; }
.u_w40 { width: 40%; box-sizing: border-box;}
.u_w60 { width: 60%; box-sizing: border-box; }
.u_w100 { width: 100%; box-sizing: border-box; }
.u_p_1rem { padding: 1rem; }
.u_p_32_24 { padding: 2rem 1.5rem; }
.u_column { flex-direction: column; }
.u_flex { display: flex; }
.u_flex_center {
    display: flex;
    align-items: center;
}
.u_text_link { color: #4a90e2; }
.u_note {
    font-family: Arial;
    font-size: 0.75rem;
}
.u_text_center { text-align: center; }

/* Specific classes */

h1 {
    font-family: "Avenir_Bold";
    font-size: 2.25rem;
}

h4 {
    font-family: "Avenir_Demi";
    font-size: 1.375rem;
}

h1, h4 {
    padding-bottom: 1.5rem;
}

p {
    font-family: "Avenir_Regular";
    padding-bottom: 0.5rem;
}

.content {
    padding-top: 4rem;
}

/* Navigation bar */

.navbarheader {
    z-index: 1000;
    height: 4rem;
    background-color: white;
    position: fixed;
    justify-content: space-between;
}

.ca_logo a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
}

.navbar a {
    font-family: "Avenir_Regular";
}

.ca_logo {
    padding-left: 1.5rem;
}

.navbar a:hover {
    color: #9b9b9b;
}

/* Banner */

.btn:hover{
    background-color: #7c7c7c;
}

.btn {
    justify-content: center;
}

.btn p {
    padding: 0.5rem;
    color: white;
}

/* Informations */

.information_main_image {
    padding-bottom: 2rem;
}

.informations_main_container .u_note{
    padding: 0;
    margin-top: 1.5rem;
}

.information_card_text {

    margin-left: 1.5rem;
}

.information_card_text h4 {
    padding-bottom: 0.5rem;
}

.information_card:hover {
    background-color: #eaebec;
}

/* Start learning */

.startlearning {
    padding: 2rem 1rem;
}

.startlearning h1{
    padding-bottom: 1rem;
}

.startlearning_cards_container {
    flex-wrap: wrap;
}

.startlearning_card {
    margin-bottom: 0.5rem;
}

.startlearning_card a:hover {
    background-color: #eaebec;
}

.startlearning_card_text h4{
    padding: 0;
}

/* Thesis exhibit */

.thesisexhibit h1 {
    padding-bottom: 1rem;
}

.thesisexhibit video{
    margin-bottom: 1.5rem;
}

/* Footer */

.footer_container {
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

.footer_container p {
    padding: 0;
}
    /* Ez már nem is lényeges.. */

.footer_container a {
    padding-left: 1rem;
}

/* Media Querry - Mobile */

@media screen and (max-width: 980px) {

    /* Media Querry - Mobile - Utility classes */

    .u_mobile_hidden{ display: none; }
    .mu_w100 { width: 100% }

    /* --- */

    ul {
        justify-content: space-around;
    }    
    h1 {
        font-size: 2.25rem;
    }
    .banner_text {
        padding: 2rem 1rem;
    }
    .banner_text h1 {
        padding-bottom: 2rem;
    }
    h4 {
        padding-bottom: 1.5rem;
    }
    .btn {
        background-color: #9b9b9b;
    }
    .information_cards_container {
        margin-top: 0;
    }
    .information_card {
        flex-direction: column;
    }
    .information_card_text {
        margin-top: 1.5rem;
        margin-left: 1rem;
    }
    .thesisexhibit_main_container{
        width: 100%;
    }
}

/* Media Querry - Desktop */

@media screen and (min-width: 980px) {

    /* Media Querry - Desktop - Utility classes */

    .u_desktop_hidden{ display: none; }
    .du_p1rem{ padding-bottom: 1rem; }
    .du_w40 { width: 40%; }
    .du_w35 { width: 35%; }

    /* --- */

    li {
        padding-left: 1rem;
    }
    .navbar {
        padding: 0 1.5rem;
    }
    .btn {
        max-width: 300px;
        background-color: #4a4a4a;
    }
    .btn:hover{
        background-color: #7c7c7c;
    }
    .information_cards_container {
        margin-top: 1rem;
    }
    .information_card {
        align-items: center;
    }
    .startlearning {
        background-color: #eaebec;
    }
    .startlearning{
        padding: 1rem 3.5rem;
    }
    .startlearning_card_text h4{
        padding-bottom: 0.5rem;
    }
    .startlearning_card {
        padding: 1rem;
        flex: 0 33.33%;
        margin-bottom: 0;
    }
    .startlearning_card a {
        flex: 1 0 auto;
        background-color: white;
    }
    .startlearning_card a:hover {
        background-color: #d8d8d8;
    }
    .startlearning_card_text {
        padding: 1rem;
    }
    .thesisexhibit {
        padding: 2rem 0;
    }
    .thesisexhibit_main_container{
        padding: 1rem 1.5rem 1.5rem 1.5rem;
    }
    .thesisexhibit_cards_container {
        width: 40%;
    }
}  